.footer {
    background: $dark-main-color;
    color: $white;
    display: block;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;

    @media (min-width: $desktop-screen) {
        @include flex-between;
        text-align: initial;
        padding-top: 56px;
        padding-bottom: 102px;
    }
}

.footer__text {
    @media (min-width: $desktop-screen) {
        max-width: 255px;
        margin-right: 110px;
    }

    & p {
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: #f8f8f8;
        margin-bottom: 24px;

        opacity: 0.85;
    }
}

.footer__contacts {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: flex-start;

    @media (min-width: $desktop-screen) {
        @include flex-between;
        align-items: baseline;
        text-align: initial;
    }
}

.footer__contacts ul {
    @include no-list;
    padding-top: 20px;
    @media (min-width: $desktop-screen) {
        margin-right: 68px;
        padding-top: 0;
    }

    &:last-child {
        @media (min-width: $desktop-screen) {
            margin-right: 0;
            max-width: 212px;
        }
    }

    & h5 {
        @include no-default-indent;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        color: #ffffff;
        opacity: 0.5;
        margin-bottom: 24px;
    }

    & li a {
        color: #ffffff;
        font-weight: 400;
        margin-bottom: 9px;
    }
    & li:hover a {
        color: $second-color;
    }
}

.footer__social-list {
    display: flex;
    @include no-list;
    justify-content: center;
    @media (min-width: $desktop-screen) {
        justify-content: normal;
    }
}

.social-list__item {
    width: 24px;
    height: 24px;
    background-position: center center;
    background-repeat: no-repeat;
    margin-right: 16px;

    &--fb {
        background-image: url("../img/facebook.svg");
    }
    &--ig {
        background-image: url("../img/instagram.svg");
    }
    &--yt {
        background-image: url("../img/youtube.svg");
    }

    &:hover {
        animation: shake 1.2s ease-in-out;
    }
}

@keyframes shake {
    0%,
    50%,
    100% {
        transform: rotate(0deg);
    }

    10%,
    30% {
        transform: rotate(-10deg);
    }
    20%,
    40% {
        transform: rotate(10deg);
    }
}
