.gallery {
    position: relative;
}
.gallery__text-block {
    display: block;
    right: 0;

    text-align: center;

    @media (min-width: $desktop-screen) {
        max-width: 800px;
        position: absolute;
        right: 0;
        z-index: 1000;
        top: -15%;
        text-align: left;
    }
}

.mySwiper2 .swiper-wrapper {
    @media (min-width: $desktop-screen) {
        margin-top: 250px;
    }
}
