.member {
    background-color: $main-color;
    color: $white;
    padding-bottom: 79px;
    padding-top: 40px;
    @media (min-width: $desktop-screen) {
        background-image: url("../img/member-bg.png");
        background-repeat: no-repeat;
        background-position: 75% -75%;
        background-size: 377px 592px;
        padding-top: 75px;
        padding-bottom: 79px;
    }
}

.member__text-block {
    text-align: center;

    @media (min-width: $desktop-screen) {
        max-width: 445px;
        text-align: initial;
    }

    & .h6-text {
        color: $white;

            &::after {
                background-color: $white;
                left: 38%;
  
        }
    }
    &-desc {
        font-family: "Lato", sans-serif;
        font-weight: normal;
        font-size: 20px;
        line-height: 30px;
        color: #dfdfdf;
    }
}

.member__btn {
    @include no-btn;
    background-color: $second-color;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 28px;
    padding: 12px 112px;
    cursor: pointer;
}
