.news {
    background-color: #f8f8f8;
    padding-bottom: 96px;
}
.news__text {
    @include flex-between;
}

.news__link {
    color: $second-color;
    position: relative;

    &:hover {
        color: $main-color;
    }

    &::after {
        content: "";
        position: absolute;
        right: -50%;
        top: -3px;
        width: 32px;
        height: 32px;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: url("../img/orange-arrow.svg");
    }
}

.news__list {
    @include no-list;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $desktop-screen) {
        grid-template-columns: 350px 350px 350px;
        gap: 30px;
        grid-template-rows: 1fr 1fr;
    }

    & img:not(.google-ava) {
        width: 100%;
    }

    &-item {
        background-color: $white;
        & .item {
            padding: 14px 16px;
            margin: 0 auto;
            & img {
                width: 100%;
            }

            @media (min-width: $desktop-screen) {
                margin: 0;
            }
        }

        & .item__title {
            font-weight: normal;
            font-size: 22px;
            line-height: 28px;
            color: black;
        }

        & .item__author {
            font-weight: 500;
            font-size: 16px;
            line-height: 26px;
            color: $grey-text-color;
        }
    }
}

.list-item--google {
    display: block;

    @media (min-width: $desktop-screen) {
        grid-column: 1/3;
        display: flex;
    }
}

.google-item__review {
    display: flex;
    align-items: center;

    & img {
        margin-right: 32px;
    }

    & .name {
        @include no-default-indent;
        color: $main-color;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
    }
    & .ceo {
        @include no-default-indent;
        color: $grey-text-color;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
    }
}

.google__text {
    padding: 32px;
}
.google__title {
    font-weight: bold;
    font-size: 32px;
    line-height: 41px;
    color: #222831;
}

.google__desc {
    color: $grey-text-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}
