.review {
    padding-top: 42px;
    @media (min-width: $desktop-screen) {
        padding-top: 112px;
    }
}
.review__text {
    @include flex-between;
}

.review__list-item {
    background-color: $main-color;
    color: $white;
    margin-right: 30px;
    padding: 47px 40px 37px;
    margin-bottom: 30px;
    width: 445px;

    & .review__desc {
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-size: 16px;
        line-height: 26px;
        min-height: 156px;
    }
}

.personal-review {
    display: flex;
    align-items: center;

    & img {
        margin-right: 16px;
    }
}

.swiper-pagination3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
