.review {
    padding: 42px 24px 20px;

     @media (min-width: $tablet-screen) {
       padding: 42px 48px 20px;
    }

    @media (min-width: $desktop-screen) {
        padding: 112px 0 0 0;
    }
}
.review__text {
    @include flex-between;
}

.review__list-item {
    background-color: $main-color;
    color: $white;
    
    padding: 47px 40px 37px;
    margin-bottom: 30px;
     @media (min-width: $desktop-screen) {
     width: 445px;
     margin-right: 30px;
    }
    

    & .review__desc {
        font-family: "Lato", sans-serif;
        font-weight: 200;
        font-size: 16px;
        line-height: 26px;
          min-height: 205px;
             @media (min-width: $desktop-screen) {
        min-height: 156px;
             }
    }
}

.personal-review {
    display: flex;
    align-items: center;
    font-size: 14px;
          @media (min-width: $desktop-screen) {
              font-size: 20px;
          }

    & img {
        margin-right: 16px;
    }
}

.swiper-pagination3 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
